@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="about">
    <h3> About </h3>
    <p> Place Holder About Me Paragraph</p>
</div>
<div id="technologies">
    <h3>Technologies</h3>
    <div class="tech-and-language" id="languages">
        <h4>Languages</h4>
        <ul>
            <li>C#</li>
            <li>Javascript</li>
            <li> HTML5 </li>
            <li> CSS</li>
            <li> SQL </li>
        </ul>
    </div>
    <div class="tech-and-language" id="libraries">
        <h4>Libraries</h4>
        <ul>
            <li> ASP.Net Core </li>
            <li> Entity Framework </li>

            <li> React </li>
            <li> EJS </li>
            <li> SignalR </li>
        </ul>
    </div>
    <div class="tech-and-language" id="tech">
        <h4>Libraries</h4>
        <ul>
            <li> Git </li>
            <li> Github </li>
            <li> Azure Dev Ops </li>
            <li> Azure SQL Server </li>
            <li> Postgres </li>
            <li> Heroku </li>
            <li> Node.js </li>
            <li> XUnit </li>

        </ul>
    </div>
</div>